#            *Data Science Project: Toronto City*

## In this project, our goal is extract a dataset from Wikipedia about Toronto city and make a analysis with information fitted and revealing

In [8]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from pandas.io.html import read_html

In [9]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [10]:
wiki = read_html(url, attrs={'class':'wikitable'})
print('ewxtratc {num} wiki'.format(num=len('wiki')))

ewxtratc 4 wiki

In [11]:
wiki = wiki[0]

In [12]:
wiki = wiki.set_index("Borough")
wiki = wiki.drop("Not assigned", axis=0)

In [48]:
wiki = wiki.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(list)
wiki = wiki.sample(frac=1).reset_index()
wiki['Neighbourhood'] = wiki['Neighbourhood'].str.join(' , ')
wiki.rename(columns = {'Postcode':'Postal Code'}, inplace = True) 
wiki.head()

  Postal Code       Borough                                      Neighbourhood
0         M3K    North York                       CFB Toronto , Downsview East
1         M2H    North York                                  Hillcrest Village
2         M9C     Etobicoke  Bloordale Gardens , Eringate , Markland Wood ,...
3         M2L    North York                          Silver Hills , York Mills
4         M6K  West Toronto     Brockton , Exhibition Place , Parkdale Village

In [14]:
wiki['Neighbourhood']=wiki['Neighbourhood'].replace('Not assigned', wiki['Borough'])

In [15]:
wiki.shape

(103, 3)

In [42]:
import pandas as pd
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_c35661ee0ed14ac7a11485a8abe7f253 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='Rt2RqqVwZU9V5sFPwKPYg9dLZgoBusQJRJYb3YAYHgnp',
    ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_c35661ee0ed14ac7a11485a8abe7f253.get_object(Bucket='torontoanalysis-donotdelete-pr-pjyzgj7f23e6fu',Key='Geospatial_Coordinates (1).csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [61]:
df = pd.merge(wiki, df_data_1, on ='Postal Code')
df.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3K,North York,"CFB Toronto , Downsview East",43.737473,-79.464763
1,M2H,North York,Hillcrest Village,43.803762,-79.363452
2,M9C,Etobicoke,"Bloordale Gardens , Eringate , Markland Wood ,...",43.643515,-79.577201
3,M2L,North York,"Silver Hills , York Mills",43.757490,-79.374714
4,M6K,West Toronto,"Brockton , Exhibition Place , Parkdale Village",43.636847,-79.428191